/*
 * Bistro! Bistro! v1
 */

/* Base styles */
:root {
    --font-size: 18px;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-color: #555; /* dark grey */
    --heading-font-family: 'Montserrat', sans-serif;
    --heading-letter-spacing: 0.09rem;
    --primary-color: #00336b; /* blue */
    --secondary-color: #a30000; /* red */
    --icon-btn-font-size: 1.6rem;
}
html {
    font-size: var(--font-size);
    font-family: var(--font-family);
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: var(--font-color);
}
p {
    line-height: 1.6;
}
p > a {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Fixed top white bar */
.white-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    border-bottom: 2px solid hsl(0, 0%, 91.3%);
    box-shadow: 0 0.35rem 0.45rem 0 hsl(0, 0%, 92.3%);
    z-index: 500;
}

/* Fixed top buttons */
.fixed-top-buttons {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.25rem;
    width: 100%;
    height: 62px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 700;
}
@media screen and (max-width: 430px) {
    .fixed-top-buttons {
        padding: 0 0.5rem;
    }
}

/* Branding icon; top left */
a.icon-btn__brand > img {
    margin-top: 2px;
    width: 58px;
    height: 58px;
}
@media screen and (max-width: 430px) {
    a.icon-btn__brand > img {
        width: 48px;
        height: 48px;
    }
}

/* Top right nav flex container: reservations and menu bars */
.nav__bb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav__bb > * {
    margin: 0 0 0 0.75rem;
}

/* Bttn classes */
a.bttn {
    padding: 0.2rem 0.34rem;
    color: var(--secondary-color);
    background-color: transparent;
    font-size: 0.9rem;
    font-family: var(--heading-font-family);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    transition: 0.3s;
}
a.bttn:hover {
    color: white;
    background-color: var(--secondary-color);
    text-decoration: none;
    transition: 0.3s;
}
a.bttn--full-width {
    margin: 1rem;
    text-align: center;
    display: block;
}
a.bttn--tablet {
    display: none;
}
@media screen and (max-width: 769px) {
    a.bttn--tablet {
        display: block;
    }
}

/* Reservation button, top */
a.bttn--res {
    margin-top: -0.2rem;
}
@media screen and (max-width: 769px) {
    a.bttn--res {
        display: none;
    }
}

/* Menu button, bars */
.bttn__menu {
    margin-top: 2px;
    color: var(--primary-color);
    font-size: 1.4rem;
}

/* Sidenav branding icon/button */
.icon-btn__sidenav {
    margin-top: 1rem;
    text-align: center;
    display: block;
}

/* Sidenav B!B! styles */
.sidenav__bb li a {
    color: var(--primary-color);
    font-size: 1rem;
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    letter-spacing: var(--heading-letter-spacing);
}

/* Sidenav social media icons */
.sidenav__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sidenav__social-icons > a {
    padding: 0.2rem 0.5rem;
    color: var(--secondary-color);
    font-size: 1.6rem;
}

/* B!B! main styles */
.bb-main-styles {
    position: relative;
    margin: 0;
    padding-bottom: 50vh;
}

/* B!B! section styles*/
.bb-section {
    margin-bottom: 3rem;
}

/* B!B! sticky section heading styles */
.bb-section__heading {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
    height: 60px;
    color: var(--primary-color);
    background-color: white;
    font-size: 1.3rem;
    font-family: var(--heading-font-family);
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    letter-spacing: var(--heading-letter-spacing);
    text-transform: uppercase;
    display: block;
    z-index: 600;
}
@media screen and (max-width: 430px) {
    .bb-section__heading {
        font-size: 1.1rem;
    }
}

/* B!B! section content; centered, max-width */
.bb-section__content {
    margin: 2.5rem auto;
    padding: 0 1rem;
    max-width: 925px;
}

/* B!B! section content w/ flex */
.bb-section__content--flex {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 769px) {
    .bb-section__content--flex {
        flex-direction: column;
    }
}

/* B!B! section left-top */
.bb-section__left-top {
    padding: 0 3rem 0 0;
    max-width: 42%;
    border-right: 2px solid var(--secondary-color);
}
@media screen and (max-width: 769px) {
    .bb-section__left-top {
        padding: 0 0 2rem 0;
        max-width: 100%;
        border-right: none;
        border-bottom: 2px solid var(--secondary-color);
    }
}

/* B!B! section right-bottom */
.bb-section__right-bottom {
    width: 100%;
    padding: 0 0 0 3rem;
}
@media screen and (max-width: 769px) {
    .bb-section__right-bottom {
        padding: 2rem 0 0 0;
    }
}

/* B!B! content area heading styles */
.bb-content__heading {
    margin: 0 0 0.8rem 0;
    color: #222;
    font-size: 1.2rem;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

/* Fixed bottom buttons */
.fixed-bottom-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 700;
}

/* 'Back to top' button styles */
.bttn__go-top {
    position: fixed;
    bottom: 1.3rem;
    right: 1.2rem;
    z-index: 900;
}

/* Icon button styles */
a.icon-btn {
    width: calc(1.475 * var(--icon-btn-font-size));
    height: calc(1.475 * var(--icon-btn-font-size));
    color: white;
    background-color: var(--secondary-color);
    font-size: var(--icon-btn-font-size);
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.4s;
}